body{
    background-color: lightblue;
}
.container {
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
}
.mypic {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:100%;
}
.mypic:hover{
    border: 0;
}
